{% extends "header.html" %}
{% block title %}Register{% endblock %}
{% block content %}
    <div class="container">
        <div class="col-md-4 col-md-offset-4">
            <form  action="{% url 'account:setpassword' %}" method="post">
                {% if  err_msg  %}
                    <div class="alert alert-warning">{{ err_msg   }}</div>
                {% endif %}
                {% csrf_token %}
                <h2 class="text-center">修改密码</h2>
                <div class="form-group">
                    {{  set_password_form.old_password.label_tag }}
                    {{  set_password_form.old_password }}
                </div>
                <div class="form-group">
                    {{  set_password_form.new_password1.label_tag }}
                    {{  set_password_form.new_password1 }}
                </div>
                <div class="form-group">
                    {{  set_password_form.new_password2.label_tag }}
                    {{  set_password_form.new_password2 }}
                </div>

                <button type="submit" class="btn btn-primary pull-right">提交</button>
            </form>
        </div>
    </div> <!-- /container -->
{% endblock %}